@model AOWebApp.ViewModels.ItemSearchViewModel;


@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="justify-content-center">
        <h1 class="text-center">Shop Items</h1>
    </div>
</div>
<form method="post" asp-controller="Items" asp-action="Index" >
    <div class="row align-items-center">
        <div class="col-md-4">
            <input asp-for="SearchText" class="form-control" placeholder="Search products..." />
        </div>
        <div class="col-md-3">
            <select asp-for="CategoryId" class="form-control form-select" asp-items="@ViewBag.CategoryList">
                <option selected value="">All Categories</option>
            </select>
        </div>
        <div class="col-md-auto">
            <button type="submit" class="btn btn-outline-info btn-block">Search</button>
        </div>
        <div class="col-md-auto">
            <a class="btn btn-outline-info btn-block" asp-action="Create" asp-controller="Items">Create a new Item</a>
        </div>
    </div>

</form>



<div class="container">
    <div class="row row-cols-3 row-cols-md-3 g-4">
        @foreach (var item in Model.Items)
        {
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@item.ItemName</h5>
                        
                        @{
                            var truncatedDescription = item.ItemDescription;
                            if (item.ItemDescription.Length > 100)

                            {
                                truncatedDescription = item.ItemDescription.Substring(0, 100) + "...";
                            }
                        }
                        @if (item.Category != null)
                        {
                            <p class="card-text">Category: @item.Category.CategoryName</p>
                        }
                        <p class="card-text">Description: @truncatedDescription</p>

                        <p class="card-text">Cost: &#36 @item.ItemCost</p>
                        <img src="@item.ItemImage" class="card-img-bottom" alt="Item Image">

                        <a asp-controller="Items" asp-action="Details" asp-route-id="@item.ItemId" class="btn btn-outline-primary">View Item Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
